<div class="bodyBox">
  <h1>Recipes</h1>
    <div class="recipeBox">
      <ul>
        <li ng-repeat="recipe in recipesIndex.all | orderBy: createdAt" class="">
          <div class="recipe">
            <a ui-sref="recipesShow({id: recipe.id})"><img ng-src="{{ recipe.image }}" alt="{{ recipe.name }}"></a>
            <h4>{{ recipe.createdAt }}</h4>
            <a ui-sref="recipesShow({id: recipe.id})"><h2>{{ recipe.name }}</h2></a>
            <h4>{{ recipe.description }}</h4>
            <span>by {{ recipe.createdBy.username }}</span>
          </div>
        </li>
      </ul>
    </div>
</div>
