<!DOCTYPE html>
<html ng-app="family-deserts">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/jpeg" href="/images/favicon.jpeg" sizes="32x32" />
    <script src="https://use.fontawesome.com/f3566f1806.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway" rel="stylesheet">
    <title>Family-deserts</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <header>
      <div class="title">
        <h1>FOOD BLOG</h1>
      </div>
      <div class="line"></div>
      <nav>
        <div class="topnav">
          <!-- <span><a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a></span>
          <span><a href="#blank"> </a></span> -->
          <span><a ui-sref="home">Home</a></span>
          <span ><a ui-sref="recipesIndex">Recipes</a></span>
          <span ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></span>
          <span ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></span>
          <span ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></span>
        </div>
      </nav>
      <div class="line"></div>
    </header>
    <!-- <div class="message" ng-if="main.message">{{ main.message }}</div> -->
    <main ui-view></main>
    <!-- <footer>
      <div class="contact-icons">
        <a href="https://www.linkedin.com/in/hannahwynnjones/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/hannahwynnjones" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/HannahWynnJones" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="mailto:hello@hannahwynnjones.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>

    </footer> -->
  </body>
</html>
