header {
  // position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 60px;

  .title {
    display: block;
    height: 150px;
    background-color: white;
    h1 {
      line-height: 150px;
      text-align: center;
      font-size: 40px;
      background-color: white;

    }
  }
  // transition: background-color 0.2s ease;
  nav {
    background-color: white;

    .topnav {
      background-color: white;
      width: 100%;
      text-align: center;
      overflow: hidden;
      height: 70px;
      text-align: center;
      margin: 0 auto;
      span {
        background-color: white;

        text-align: center;
        float: none;
        display: inline-block;
        a {
          background-color: white;

          display: inline-block;
          float: left;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          text-align: center;

        }
        a:hover {
          color: black;
            text-decoration: underline;
        }
    }
    }
  }
}

//hidding the link
.topnav .icon {
    display: none;
}

footer {
  background-color: rgba(211, 211, 211, 1);
  padding: 10px 0;
  text-align: center;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  a {
  color: white;
  font-size: 28px;
    i {
      padding: 10px;
    }
  }
}
