@import "templates";
@import "header";

////////////////////   INDEX   ///////////////

// div {
//   display: inline-block;
// }

.bodyBox {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 100px;
  }
  .recipesBox {
    columns: 3;
    padding: 0px;
    margin: 0px;
    .recipe {
      width: 90%;
      padding: 10px 5px 10px 5px;
      text-align: left;
      img {
        width: 100%;
      }
      h4 {
        font-style: italic;
      }
    }
  }
}
////////////   SHOW   ///////////////

.recipeBox {
  padding: 50px 50px 0 50px;
  width: 60%;
  margin: 20px auto 100px;
  text-align: center;
  h2 {
    font-size: 40px;
    text-align: left;
    // line-height: 100px;
  }
  p {
    text-align: left;
  }
  .topBar {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    height: 50px;
    text-align: center;
    margin: 50px auto 50px auto;
      ul {
        list-style-type: none;
        text-align: center;
        li {
          text-align: center;
          margin: 0 auto;
          display: inline-block;
          float: left;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

    }
  img {
    width: 100%;
  }
  .method {
    padding-bottom: 200px;
    .ingredients {
      display: inline-block;
      text-align: left;
      background-color: yellow;
      width: 30%;
      float: left;
      ul {
        text-align: left;

      }
    }
    .steps {
      display: inline-block;
      float: left;
      text-align: left;
      width:70%;
      background-color: lightblue;
      ol {
        text-align: left;

      }
    }
  }
}


/////////   AUTH  ///////////////

  .box {
    box-shadow: 0px 0px 20px -3px grey;
    padding: 50px 50px 50px 50px;
    width: 20%;
    margin: 20px auto 100px;
    text-align: center;
    h2 {
      font-size: 40px;
      text-align: left;
      // line-height: 100px;
    }
    form {
      text-align: left;
      div, button {
        margin: 10px;
      }
    }

  }
