//font-family: Raleway, sans-serif;
//font-family: Montserrat, sans-serif;
//font-family: Lato, sans-serif;

// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
img {
  width: 200px;
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
}

main {
  margin: 0px, 200px, 0, 200px;
  text-align: center;
  display: block;
  padding-top: 150px;
}

h1 {
  font-family: Raleway, sans-serif;
}

.line {
  border-top: solid black;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  border-width: thin;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
